<script>
    document.write("hello world!")
    console.log("okay")
    var a = 23
    if(a==24){
    document.write("true that")
    }
    else{
    document.write("false hego chacha ", a)
    }

    function bookingTable(){
    alert("Button just got clicked!")
    document.getElementById("okay").innerHTML = "Do not click again"
    }
</script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Js seeekhlo</title>
</head>
<body>
<button id="okay" onclick="bookingTable()">Book Table</button>
</body>
</html>